* {
    box-sizing: border-box;
}


body {
    background-color: #22252c;
    font-family: sans-serif;
}

.footer-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #22252c;
    width: 100%;
    margin-top: 2rem;
}

.footer-txt {
    color: white;
}

.btn-toggle-menu {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}

.btn-toggle-menu .hamburger-lines {
    height: 26px;
    width: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-toggle-menu .hamburger-lines .line {
    height: 4px;
    width: 100%;
    background-color: black;
    transition: 0.4s;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line1 {
    rotate: -45deg;
    transform-origin: right top;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line2 {
    scale: 0;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line3 {
    rotate: 45deg;
    transform-origin: right bottom;
}

.btn-toggle-menu {
    display: none;

}


