canvas {
    border: 2px solid rgb(131, 131, 131);
    border-radius: 1em;
}

.meme-editor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 2rem;
}

.tool-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 25rem;
    height: 25rem;
    border-radius: 30px;
    background-color: #6e6e6e;
    padding: 2rem;
    border-radius: 1em;

}

.btn {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 0.5em;
    cursor: pointer;
    box-shadow: 1px 2px 0px rgba(92, 92, 92, 0.55)
}

i {
    font-size: 1.5rem;
}

.text-edit-input {
    padding: 1em;
    width: 90%;
    border-radius: 1em;
}

.btn-add-line {
    background-image: linear-gradient(-38deg, #6fff85 0%, #219433 100%);
}

.btn-switch-lines {
    background-image: linear-gradient(-38deg, #72d5ee 0%, #40b1ce 50%, #0c7792 100%);
}

.btn-delete-line {
    background-image: linear-gradient(-38deg, #b8162e 0%, #cf1d37 1%, #ff5f46 100%);
}

.btn-save-meme {
    background-image: linear-gradient(-38deg, #ffb049 0%, #ba6900 100%);

}

.edit-text-container {
    border-radius: 15px;
    background-image: linear-gradient(-38deg, rgb(32, 158, 190) 0%, #20d5cc 50%, rgb(30, 151, 182) 100%);

    /* background-color: #19a59f; */
    padding: 1.2em;
}

.edit-text-upper-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-block-end: 10px;

}

.edit-text-lower-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


.btn-bigger-txt,
.btn-smaller-txt {
    text-align: center;
    font-weight: 800;
    font-size: 1.3rem;
    background-color: white;

}

.select-font {
    padding: 0.8em;
    width: 60%;
}

.stickers-container {
    width: 80%;
    border-radius: 1.5rem;
    background-color: white;
    padding: 0.6rem;
    /* margin-top: 1.25rem;
    margin-bottom: 1.25rem; */
}

.btn-share {
    color: white;
    border-radius: 1rem;
    background-image: linear-gradient(-86deg, #1e7cd3 0%, #43a4ff 100%);
    padding: 0.5em;
    font-size: 1.25rem;
    width: 6em;
    cursor: pointer;
}

.btn-download {
    border-radius: 1rem;
    background-image: linear-gradient(-86deg, #8f44bb 0%, #c370f3 100%);
    padding: 0.5em;
    font-size: 1.25rem;
    width: 6em;
}

.btn-download a {
    text-decoration: none;
    color: white;
}

.stickers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-image: linear-gradient(-38deg, rgb(255, 255, 255) 0%, #b6b6b6 50%, rgb(232, 232, 232) 100%);
}

.sticker {
    font-size: 1.7rem;
    cursor: pointer;
}