canvas {
    border: 2px solid rgb(131, 131, 131);
    border-radius: 1em;
}

.meme-editor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 2rem;
}

.tool-box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    height: 25rem;
    border-radius: 30px;
    background-color: #6e6e6e;
    padding: 2rem;
    border-radius: 1em;

}

.btn {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 0.5em;
    cursor: pointer;
    box-shadow: 1px 2px 0px rgba(92, 92, 92, 0.55)
}

i {
    font-size: 1.5rem;
}

.text-edit-input {
    padding: 1em;
    width: 90%;
    border-radius: 1em;
}

.btn-add-line {
    background-image: linear-gradient(-38deg, #6fff85 0%, #219433 100%);
}

.btn-switch-lines {
    background-image: linear-gradient(-38deg, #72d5ee 0%, #40b1ce 50%, #0c7792 100%);
}

.btn-delete-line {
    background-image: linear-gradient(-38deg, #b8162e 0%, #cf1d37 1%, #ff5f46 100%);
}

.btn-download a {
    text-decoration: none;
    color: black;
}

.edit-text-container {
    border-radius: 15px;
    background-color: #19a59f;
    padding: 1.2em;
}

.edit-text-upper-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-block-end: 10px;

}

.edit-text-lower-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


.btn-bigger-txt,
.btn-smaller-txt {
    text-align: center;
    font-weight: 800;
    font-size: 1.3rem;
    background-color: white;

}

.select-font {
    padding: 0.8em;
    width: 60%;
}


