.saved-meme-gallery {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    /* grid-auto-flow: dense; */
    gap: 20px;
    margin-bottom: 4rem;
}

.saved-memes-title {
    color: white;
    text-align: center;
}

.saved-memes-p {
    color: white;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 3rem;

}

.saved-meme-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-saved-btn {
    margin-top: 1rem;
    width: 40%;
    height: 2rem;
    background-color: rgb(227, 66, 66);
    color: white;
    cursor: pointer;


}

.delete-saved-btn:hover {
    background-color: rgb(243, 42, 42);
}